html{
    box-sizing: border-box;

}
*,
*::after,
*::before{
    box-sizing: inherit;
}

a{
    color: black;
    text-decoration: none;
    display: inline-block;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    color: #272727;
    font-size: 15px;
    line-height: 24px;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

/*Header*/
/*---------------------------------------------------*/

.header{
    background-image: url("../images/bg.jpg");
    min-height: 793px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top center;
}

.header__top{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.menu__list{
    display: flex;
}

.menu__list a{
    opacity: 0.5;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    transition: all .5s;
}
.menu__list a:hover{
    opacity: 1;
}

.menu__list li + li{
    padding-left: 50px;
}



.login{
    margin-right: 44px;
    font-weight: 600;
    line-height: 24px;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
}

.sign-up{
    color: #250F8A;
    font-size: 15px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: white;
    padding: 8px 40px;
    border-radius: 50px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
   padding-top: 150px;
}

.header__box{
    width: 50%;
}

.header__title {
    font-weight: 700;
    line-height: 60px;
    font-size: 45px;
    color: white;
}

.header__text{
    color: white;
    font-size: 24px;
    line-height: 55px;
    font-weight: 400;
    margin-bottom: 50px;
}

.header__button{
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: #250F8A;
    line-height: 24px;
    padding: 11px 35px;
    background-color: #FFCA00;
    display: inline-block;
    border-radius: 50px;
}

.header__images:before{
    background-image: url("../images/pagination.svg");
    width: 15px;
    height: 75px;
}

/*Special*/
/*------------------------------------------------*/

.special{
    background-image: url("../images/style.svg");
    min-height: 280px;
    background-repeat: no-repeat;
    background-position: left;
}

.special__items{
    margin: 58px 0 90px 0;
}

.special__title{
    text-align: center;
    color: #202020;
    font-weight: 700;
    font-size: 35px;
    padding-bottom: 100px;
}

.special__box{
    display: flex;
    justify-content: space-between;
}

.special__item{
    max-width: 280px;
    text-align: center;
}

.special__item-title{
    font-weight: 700;
    color: #202020;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.special__item-text{
    font-weight: 400;
    color: #979797;
    font-size: 15px;
    line-height: 24px;
}

/*Work*/
/*-----------------------------------------*/

.works{
    background-color: #F4F9FD;
    background-image: url("../images/style2.svg");
    min-height: 280px;
    background-repeat: no-repeat;
    background-position: right;
}

.works__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.works__item{
    position: relative;
   max-width: 460px;
}

.works__images{
    width: 50%;
}

.works__title{
    color: #202020;
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
    padding-bottom: 45px;
}

.works__item:before{
    content: "";
    position: absolute;
    background-image: url("../images/path1.svg");
    width: 198px;
    height: 156px;
    top: -46px;
    left:-29px;
}

.works__text{
    font-weight: 400;
    color: #272727;
    font-size: 15px;
    line-height: 24px;
}

/*Test*/
/*-------------------------------------------*/

.test{
    background-image: url("../images/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
}

.test__inner{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;

}

.test__item{

    border-radius: 10px;
    opacity: .9;
    background-color: #0097cc;
    width: 300px;
    min-height: 260px;
    text-align: center;
}

.test__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
   padding:0 24px 15px 37px ;

}


.test__name{
    padding-top: 36px;
    font-weight: 600;
    color: #fff;
    font-size: 15px;
}

.test__images{
    margin-top: 40px;
}

.test__text{
    font-weight: 400;
    font-size: 15px;
    color: white;
    line-height: 24px;
    padding: 0 20px 35px 20px;
}













